[Unit]
Description=Infrastructure Inventory Exporter
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/usr/local/bin/bin-update.sh inventory-exporter /var/lib/inventory-exporter/inventory-exporter
ExecStart=/var/lib/inventory-exporter/inventory-exporter
Restart=always
RestartSec=30

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
StateDirectory=inventory-exporter

[Install]
WantedBy=multi-user.target
